/* static/todo_app/styles.css */

/* Custom CSS for hover effect on links */
h1 {
    cursor: pointer; /* Change cursor to pointer for clickable element */
    transition: color 0.3s; /* Smooth color transition */
}

h1:hover {
    color: #555; /* Change this color to your preferred hover color */
    opacity: 0.7; /* Dim the text on hover */
}

a {
    transition: color 0.3s; /* Smooth color transition for links */
}

a:hover {
    color: #555; /* Change this color to your preferred hover color */
    opacity: 0.7; /* Dim the text on hover */
}


/* Custom CSS for hover effect on div elements acting as buttons */
div[role="button"] {
    cursor: pointer; /* Pointer to indicate it's clickable */
    transition: color 0.3s ease; /* Smooth color transition */
    
}

div[role="button"]:hover {
    color: #555; /* Change color on hover */
    opacity: 0.7; /* Dim the text slightly */
}